/** Google Fonts **/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,400&display=swap");

/** Reset **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** Layout **/

body {
  font-family: "Poppins", sans-serif;
  background: #c0c0aa; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1cefff,
    #c0c0aa
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1cefff,
    #c0c0aa
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #fff;
  font-size: 4rem;
  text-align: center;
  opacity: 0.6;
  margin-top: 100px;
  letter-spacing: 0.3ch;
}

form {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 100%;
  margin: 50px auto;
}

.input {
  font-size: 2rem;
  width: 100%;
  display: block;
  padding: 1rem 2rem;
  border: none;
}

.input::placeholder {
  color: #b5b5b5;
}

.todos {
  background: #fff;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.todos li {
  border-top: 1px solid #e5e5e5;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.todos li.completed {
  text-decoration: line-through;
  opacity: 0.2;
}

small {
  padding: 5px 12px;
  color: #e5e5e5;
  text-align: center;
}
